form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  width: 12%;
}

#addButton {
  width: 80px;
  background-color: #fff;
}

#books ul li {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button {
  width: 5%;
  font-size: 12px;
}
