* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  text-align: center;
}

h2 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  padding: 10px;
  margin: 15px;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

a,
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.book-underline {
  width: 10%;
  border: 1px solid black;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

input {
  width: 15%;
}

#addButton {
  width: 60px;
  background-color: #b4cadd;
  margin-left: 165px;
}

#books ul {
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 8px;
  width: 35%;
  margin-right: auto;
  margin-left: auto;
}

#books ul li {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#books ul li:nth-child(1),
#books ul li:nth-child(3),
#books ul li:nth-child(5) {
  background-color: #b8b0b0;
}

#books ul li:nth-child(2),
#books ul li:nth-child(4),
#books ul li:nth-child(6) {
  background-color: #b4cadd;
}

button {
  width: 20%;
  font-size: 12px;
  border: 2px solid black;
  border-radius: 6px;
}

#contact {
  margin-left: auto;
  margin-right: auto;
}

footer {
  border: 2px solid black;
  padding: 10px;
  margin: 15px;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }

  #addButton {
    margin-left: 190px;
  }

  input {
    width: 65%;
  }

  #books ul {
    width: 90%;
  }
}
